:root{
    --main-font:sans-serif;
    --font-size: 16px;
    --main-color:#f5d132;
    --second-color:#222;
    --main-modal-color:rgba(231, 196, 17, 0.85);
    --second-modal-color:rgba(34,34,34,0.85);
    --container-width:1200px;
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
    background-color: whitesmoke;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/*Menu hamburguesa*/

.header{
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
    z-index: 997;
}

.header h1{
    margin: 0 auto;
    text-align: center;
}

.section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

.panel{
    position: fixed;
    z-index: 998;
    background-color: var(--second-modal-color);
    width: 100%;
    /*Hacemos que el menu ocupe toda la pantalla*/
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    /*Distintas formas de hacer aparecer el menu*/

    /*opacity: 0;*/
    transition: transform 0.5s ease;/*, opacity 0.5s ease;*/
    /*Menu sale de arriba, valores negativos= arriba o izquierda*/
    transform: translate(0,-100%); /*Eje x, eje y*/
    /*De abajo
    transform: translate(0, 100%);
    De la derecha
    transform: translate(100%, 0);
    Dela izquierda
    transform: translate(-100%,0);
    */
    overflow-y: auto;
}

.panel.is-active{
    transform: translate(0,0);
    /*opacity: 1;*/
}

/*
 *->Todo lo que este dentro de .panel-btn 
.panel-btn *{} , añadimos el asterisco en la funcion de js
*/
.panel-btn{ /*Boton menu*/
    position: fixed;
    z-index: 999;
    top: 0.5vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}
.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a{
    width: inherit;
    padding: 2rem;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color:var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover{
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}


/* Eventos del teclado*/

.stage{
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
    border: dashed;
}

.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

/*Scroll button*/

.scroll-top-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4rem + 1vw);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--second-color);
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    transition: all 0.3s ease-out;
}

.scroll-top-btn:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

/*Dark-light theme*/

.dark-theme-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    transition: all 0.3s ease-out;
}

.dark-theme-btn:hover {
    background-color: gray;
    color: var(--main-color);
}

.dark-mode{
    background-color: var(--second-color);
    color: var(--main-color);
}


/*Estado de red*/


.online,
.offline{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #248b2b;
    color: #fff;
}

.offline{
    background-color: #b71c1c;
}

/*Filtros de Busqueda*/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}

.card{
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.3s ease-out;
}

.card img{
    width: 100%;
}

.card figcaption{
    padding: 1rem;
}

.filter{
    /* display: none; No se pueden añadir animaciones a esta propiedad*/
    visibility: hidden;
    opacity: 0;
    order: 1; /*Las tarjetas que se ocultan se recorren al final, las que se quedan tienen order 0 por lo que se situan las primeras*/
}

/*Sorteo*/

.player{
    list-style: none;
}

/* Slider */

.slider{
    position: relative;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    border: thin solid black;
}

.slider-slides{
    position: relative;
    height: 400px;
}

.slider-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slider-slide img{
    height: inherit;
    width: inherit;
    object-fit: cover; /*Adaptar imagen a su contenedor sin que se deforme*/
    object-position: 50% 0%;
}

.slider-slide.active{
    opacity: 1;
    visibility: visible;
}

.slider-btns{
    position: absolute; /*Cuando usamos la propiedad absolute, el elemento pierde sus dimensiones*/
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.slider-btns a{
    font-size: 3rem;
    font-weight: bold;
}

.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid black;
    text-decoration: none;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

.slider a:hover{
    color: #4d4d4d;
}

/*Scroll Spy*/

@media screen and (min-width:1024px){
    body{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
        "header header"
        "main panel";
    }

    main{
        grid-area: main;
    }

    .header{
        grid-area: header;
        z-index: 999;
    }

    .panel{
        grid-area: panel;
        position: sticky;
        top: 4rem;
        transform: translate(0,0);
        opacity: 1;
        visibility: visible;
        background-color: var(--second-color);
        justify-content: flex-start;
        align-self: start;
    }

    .panel:hover{
        overflow-y: scroll;
    }

    .panel-btn{
        display: none;
    }
    .menu{
        justify-content: start;
        text-align: right;
    }

    .menu a{
        font-size: 1rem;
        padding: 1rem;
    }

    .menu a:hover,
    .menu a.active{
        color: var(--second-color);
        background-color: var(--main-color);
    }

    .scroll-top-btn{
        left: 7rem;
        bottom: .5rem;
    }

}

#seccion13 video{
    height: 500px;
    width: 800px;
}

/*Contact Form*/

.contact-form{
    --form-ok-color:#4caf50;
    --form-error-color:#f44836;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.contact-form > *{ /*Esto indica que afecta a todos los hijos directos de la clase contact-form*/
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form textarea{
    resize: none;
}

.contact-form legend,
.contact-form-response{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}


.contact-form input,
.contact-form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form input[type="submit"]{
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.contact-form *::placeholder{
    color: black;
}

.contact-form [required]:valid{
    border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid{
    border:thin solid var(--form-error-color);
}

.contact-form-error{
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: white;
    transition: all 0.8s ease;
}

.contact-form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

.none{
    display: none;
}

@keyframes show-message{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

















